<div class="container">
    <div class="jumbotron text-center" ng-controller="HomeController">
        <h1>SocialUnion</h1>
        <h2>Control your environment</h2>
    </div>
    <div class="row">
        <div class="col-md-12">
            <div class="panel panel-primary text-center">
                <div class="panel-heading">
                    <h3 class="panel-title">Virtual machines</h3>
                </div>
                <div class="panel-body">
                    <div all-vms></div>
                </div>
            </div>
        </div>
    </div>
</div>