<div class="container">
    <h1 class="page-header text-center">
        Trips
        <a href="#/trips/create" ng-show="vm.identity.isAuthenticated()" class="btn btn-primary pull-right btn-sm">Create</a>  
    </h1>

    <div ng-show="vm.identity.isAuthenticated()">
        <div class="col-md-3">
            <div class="form-group">
                <div class="text-center">
                    <label for="sort" class="control-label">Sort</label>
                </div>
                <div>
                    <select class="form-control" ng-init="vm.request.orderBy = 'date'" ng-model="vm.request.orderBy" id="sort">
                        <option value="driver">Driver</option>
                        <option value="date">Date</option>
                        <option value="seatsr">Seats</option>
                    </select>
                </div>
            </div>
        </div>

        <div class="col-md-3">
            <div class="form-group">
                <div class="text-center">
                    <label for="order" class="control-label">Order</label>
                </div>
                <div>
                    <select class="form-control" ng-init="vm.request.orderType = 'asc'" ng-model="vm.request.orderType" id="order">
                        <option value="asc">Ascending</option>
                        <option value="desc">Descending</option>
                    </select>
                </div>
            </div>
        </div>

        <div class="col-md-3">
            <div class="form-group">
                <div class="text-center">
                    <label for="from-city" class="control-label">From</label>
                </div>
                <div>
                    <select class="form-control" ng-model="vm.request.from" id="from-city">
                        <option value="">Select city</option>
                        <option ng-repeat="city in vm.cities" value="{{city}}">
                            {{city}}
                        </option>
                    </select>
                </div>
            </div>
        </div>

        <div class="col-md-3">
            <div class="form-group">
                <div class="text-center">
                    <label for="to-city" class="control-label">To</label>
                </div>
                <div>
                    <select class="form-control" ng-model="vm.request.to" id="to-city">
                        <option value="">Select city</option>
                        <option ng-repeat="city in vm.cities" value="{{city}}">
                            {{city}}
                        </option>
                    </select>
                </div>
            </div>
        </div>

        <div class="row">
            <div class="col-md-3">
                <div class="col-md-6">
                    <div>
                        <div class="form-group">
                            <div class="checkbox">
                                <label for="finished">
                                    <input id="finished" type="checkbox" ng-model="vm.request.finish" />Finished
                                </label>
                            </div>
                        </div>
                    </div>
                    <div>
                        <div class="form-group">
                            <div class="checkbox">
                                <label for="only-mine">
                                    <input id="only-mine" type="checkbox" ng-model="vm.request.onlyMine" />Only mine
                                </label>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-md-6">
                    <button class="btn btn-primary pull-right" ng-click="vm.filterTrips()">Filter</button>
                </div>
            </div>

            <div class="col-md-3 col-md-offset-6">
                <div class="col-md-3">
                    <button class="btn btn-primary" ng-click="vm.prevPage()">&lt;&lt;</button>
                </div>
                <div class="col-md-6">
                    <input type="number" class="form-control" value="{{vm.request.page}}" />
                </div>
                <div class="col-md-3">
                    <button class="btn btn-primary" ng-click="vm.nextPage()">&gt;&gt;</button>
                </div>
            </div>
        </div>
    </div>

    <br />

    <div ng-show="vm.trips && vm.trips.length > 0">
        <div all-trips></div>
    </div>
    <div ng-hide="vm.trips && vm.trips.length > 0">
        <h2 class="text-center"> No results</h2>
    </div>
</div>